.contentDetail{
    display: flex;
    justify-content: center;
    align-items: center;
}

#characterImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 40%;
}
